<!DOCTYPE html>
<html>
	<head>
		<style>
			table
			{
				width: 100%;
				text-align: center;
			}

		table.type06 {
		border-collapse: collapse;
		text-align: left;
		line-height: 1.5;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		margin: 20px 10px;
	}

	table.type06 th {
		width: 150px;
		padding: 10px;
		font-weight: bold;
		vertical-align: top;
	}

	table.type06 td {
		width: 350px;
		padding: 10px;
		vertical-align: top;
	}

	table.type06 .even {
		background: #efefef;
	}

	row header h2
	{
			margin-right: 50px;
	}
			#nav
			{
				position: absolute;
				right: 0em;
				top: 2.2em;
			}

				#nav > ul > li
				{
					float: left;
				}

					#nav > ul > li:last-child
					{
						padding-right: 0;
					}

					#nav > ul > li > a,
					#nav > ul > li > span
					{
						display: block;
						margin-left: 0.7em;
						padding: 0.80em 1.2em;
						letter-spacing: 0.06em;
						text-decoration: none;
						text-transform: uppercase;
						font-size: 1.1em;
						outline: 0;
						color: #333;
					}

					#nav li.active a
					{
						background: #e95d3c;
						border-radius: 5px;
						color: #FFF;
					}

					#nav > ul > li > ul
					{
						display: none;
					}

					section,
					article
					{
						margin-bottom: 3em;
					}

					section > :last-child,
					article > :last-child
					{
						margin-bottom: 0;
					}

					section:last-child,
					article:last-child
					{
						margin-bottom: 0;
					}

					.row > section,
					.row > article
					{
						margin-bottom: 0;
					}

					#Pic
					{
						position: relative;
					}

					#Pic header h2
					{
						font-size: 1.6em;
					}

					#3u img
					{
						height: 200px;
						width: 200px;
					}
					p, ul, ol, dl, table
					{
						margin-bottom: 1em;
					}

					#p img
					{
						height: 200px;
						width: 200px;
					}

		.logo
		{
				text-align: center;
		}

		li {
			display:inline;
			border-left:1px solid #999;
			font:bold 12px Dotum;
			padding:0 10px;
		}

		</style>
		<style type="text/css">

		a:link { text-decoration:none; color:#000000;}
		a:visited { text-decoration:none;color:#000000;}
		a:active {text-decoration:none; color:#0000FF; }
		</style>
	</head>
	<body class="agenda">
    <div id="header">
			<div class="container">

				<!-- Logo -->
					<div id="logo">
						<h1 style = "text-align:center;">발의안건</h1>
					</div>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="http://localhost:3000/Home">Home</a></li>
						</ul>
					</nav>

			</div>
		</div>
		<br>
		<br>

		<% if(page == 1){%>
		<div class = "Pic">
			<div class="row">
				<div style="display: inline-block">
				<a href="http://localhost:3000/Agenda/1/1"><img src="https://pds.joins.com/news/component/newsis/201901/31/NISI20180604_0014143169_web.jpg"  style="height: 300px; width: 500px; margin: 50px;">
				<h2 style = "margin-left: 150px;">국립묘지의 설치 및 운영</h2>
				</div>
				<div style= "display: inline-block">
				<div id = "1u"><a href="http://localhost:3000/Agenda/1/2"><img src="http://image.auction.co.kr/itemimage/bb/01/a5/bb01a5ed1.jpg"  style="height: 300px; width: 500px; margin: 50px;"></div>
				<h2 style = "margin-left: 170px;">국가재정법 일부개정법률안</h2>
				</div>
				</div>
				<div class="row">
					<div style="display: inline-block">
					<a href="http://localhost:3000/Agenda/1/3"><img src="http://img.etoday.co.kr/pto_db/2019/07/20190728145451_1350879_330_337.jpg"  style="height: 300px; width: 500px; margin: 50px;">
					<h2 style = "margin-left: 150px;">국회법 일부개정법률안</h2>
					</div>
				<div style= "display: inline-block">
				<div id = "1u"><a href="http://localhost:3000/Agenda/1/4"><img src="http://menu.mt.co.kr/moneyweek/thumb/2019/08/26/06/2019082613338054477_1.jpg" style="height: 300px; width: 500px; margin: 50px;"></div>
				<h2 style = "margin-left: 170px;">화재예방, 소방시설 설치</h2>
			</div>
</div>
<br>
<br>
	<%}%>

    <div id = "new1">
    <table border="1">
      <tr>
          <td>안건 번호</td>
          <td>안건명</td>
					<td>안건 날짜</td>
          <td>안건 영역</td>
        </tr>
        <%
        for(var i = (page*10)-10; i < (page*10); i++) {
          if(i > leng){
            i++;
          }else{
            var data = agenda[i]
            %>
            <tr>
              <td><a href="1/<%= data.Agenda_ID %>"><%= data.Agenda_ID %></td>
              <td><a href="1/<%= data.Agenda_ID %>"><%= data.Agenda_Title %></td>
							<td><%= data.Agenda_Date %></td>
              <td><%= data.Agenda_Domain %></td>
            </tr>
      <% }
      }
      %>
        </div>
				</table>
				<br>
				<div class="container">
					<ul class ="pager" style = "text-align : center;">
						<%
						if(curSet > 1){
							%>
							<li value=(startPage -1) class="previous">
								<a href='/Agenda/<%= ( startPage - 1) %>'>이전페이지</a>
							</li>
							<%}%>
							<%
							for(var i = startPage; i <= endPage; i++){
								if(i > totalPage){break;}
								if(i == page){
								%>
								<li value=<%= i %> class='' >
									<a href='/Agenda/<%= i %>'>
										<%= i %>
									</a>
								</li>
								<%
							}else{
								%>
								<li value=<%= i %> class='active' >
									<a href='/Agenda/<%= i %>'>
										<%= i %>
									</a>
								</li>
								<%}%>
								<%}%>
								<%
								if(curSet < totalSet){
									%>
									<li value=( endPage + 1) class="next">
										<a href='/Agenda/<%= ( endPage + 1) %>'>다음페이지</a>
									</li>
									<%}%>
								</ul>
							</div>
</body>
</html>
